.container {
  max-width: 1180px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
}

.overflowHidden {
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
